__pycache__/
.pytest_cache/
.venv/
.DS_Store
pipery.jsonl
dist/
test-project/dist/
test-project/hello-pipery-go
test-project-with-interfaces/hello-pipery-interfaces
test-project-failing-tests/hello-broken-tests
*.exe
